body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fffaf0;
    font-family: 'Comic Sans MS', cursive;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 20px;
  }
  
  h1 {
    font-size: 3em;
    color: #5a0f2e;
  }
  
  .buttons {
    margin-top: 35px;
  }
  
  .yes-button {
    font-size: 2em;
    padding: 14px 24px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

.yes-button:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}

  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #cc0d00;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

.no-button:hover {
  background-color: #a30b00;
  transform: scale(1.05);
}

.yes-button,
.no-button {
  transition: transform 0.1s ease;
}
  
  .gif_container img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
